<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="prod">
      <p><%=datadetail.name %></p>
      <p><%=datadetail.price %></p>
      <img src="<%=datadetail.image_link  %> " alt="" />
      <p><%=datadetail.description %></p>

      <form action="/update/<%= datadetail.id  %>?_method=PUT " method="POST">
        <input name="name" value="<%=datadetail.name  %>  " />
        <input name="price" value="<%=datadetail.price  %>  " />
        <input name="description" value="<%=datadetail.description  %>  " />
        <button type="submit">UPDATE</button>
      </form>

      <form
        action="/delete/<%= datadetail.id  %>?_method=DELETE "
        method="POST"
      >
        <button type="submit">DELETE</button>
      </form>
    </div>
  </body>
</html>
