<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <a href="/allprouducts">ALL PRODUCTS</a><br />
    <a href="/showedproduct">MY PRODUCTS</a><br />
    <% myfavproducts.forEach(singleproduct=>{ %>

    <div class="prod">
      <p><%=singleproduct.name %></p>
      <p><%=singleproduct.price %></p>
      <img src="<%=singleproduct.image_link  %> " alt="" />
      <p><%=singleproduct.description %></p>

      <form action="/detail/<%= singleproduct.id  %> " method="POST">
        <input name="name" value="<%=singleproduct.name  %> " hidden />
        <input name="price" value="<%=singleproduct.price  %>  " hidden />
        <input
          name="image_link"
          value="<%=singleproduct.image_link  %>"
          hidden
        />
        <input
          name="description"
          value="<%=singleproduct.description  %>  "
          hidden
        />
        <button type="submit">DETAIL</button>
      </form>
    </div>

    <% }) %>
  </body>
</html>
